################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/Debug
/Source/.vs/EnergyExemplar.Extensions
/Source/bin
/Source/obj
/Tests/bin
/Tests/obj
/Source/.vs/ProjectEvaluation
/Source/.vs/EnergyExemplar.EFCore.Duckdb.Extensions
/Tests/TestResults
