################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/Debug
/Source/.vs/EnergyExemplar.Extensions
/Source/bin/Debug
/Source/obj
/Tests/bin/Debug/net8.0
/Tests/obj
/Source/.vs/ProjectEvaluation
/Source/.vs/EnergyExemplar.EFCore.Duckdb.Extensions
/Source/bin/Release
/Tests/bin/Release/net8.0
/Tests/TestResults/b14ec04d-7304-467a-88c3-54469dd7212c/coverage.cobertura.xml
